<%- include('../partials/head.ejs'); %>
<%- include('../partials/header.ejs'); %>

<section class="photos">
  <h1>Your photos</h1>
  <div class="wrapper">
    <% photos.forEach(photo => { %>
    <img src="data:image/jpeg;base64,<%= photo.base64 %>" alt="<%= photo.alt %>"/>
    <% }); %>
  </div>
</section>

<%- include('../partials/footer.ejs'); %>