<%- include('../partials/head.ejs'); %>
<%- include('../partials/header.ejs'); %>

<section class="album">
  <h1><%= album.name %></h1>
  <p class="description"><%= album.description %></p>
  
  <section class="images">
    <% album.photos.sort((a, b) => a.order - b.order).forEach(photo => { %>
    <img src="data:image/jpeg;base64,<%= photo.base64 %>"/>
    <% }); %>
  </section>
  
  <form action="/albums/<%= album.id %>/delete?userId=<%= userId %>" method="post">
    <button type="submit">Delete</button>
  </form>
</section>

<%- include('../partials/footer.ejs'); %>