<%- include('../partials/head.ejs'); %>
<%- include('../partials/header.ejs'); %>

<section class="album">
  <div class="top">
    <h1><%= album.name %></h1>  
    <form action="/albums/<%= album.id %>/delete?userId=<%= userId %>" method="post">
      <button type="submit" class="error">Delete album</button>
    </form>
  </div>
  <div class="controls">
    <a href="/albums/<%= album.id %>/details?userId=<%= userId %>" class="button">Edit details</a>
    <a href="/albums/<%= album.id %>/upload?userId=<%= userId %>" class="button">Add or remove images</a>
    <a id="image-order" href="/albums/<%= album.id %>/sort?userId=<%= userId %>" class="button">Change image order</a>
  </div>
  <section class="images" data-id="<%= album.id %>" data-userid="<%= userId %>">
    <% album.photos.sort((a, b) => a.order - b.order).forEach(photo => { %>
    <div class="image">
      <img class="draggable" src="data:image/jpeg;base64,<%= photo.base64 %>" alt="<%= photo.alt %>" data-id="<%= photo.id %>"/>
      <a href="/albums/<%= album.id %>/photos/<%= photo.id %>?userId=<%= userId %>">View <%= photo.name ? photo.name : 'photo' %> details</a>
    </div>
    <% }); %>
  </section>
  <p class="description"><%= album.description %></p>
  <h3>About this album</h3>
  <ul>
    <li><%= album.photos.length %> photos in the album</li>
    <% 
      const authors = album.photos.map(p => p.author);
      const count = {};
      authors.forEach(el => count[el] = count[el] + 1 || 1);
      const highest = Object.values(count).sort((a, b) => b - a)[0];
      let index;
      if (highest) {
        index = Object.values(count).indexOf(highest);
      }
      if(Object.keys(count)[index] && Object.keys(count)[index] !== 'undefined') {
    %>
    <li>The photos were mainly taken by <%= Object.keys(count)[index] %></li>
    <% } else { %>
    <li>The photos were taken by different photographers</li>
    <% } %>
  </ul>
</section>

<%- include('../partials/footer.ejs'); %>