<%- include('../partials/head.ejs'); %>
<%- include('../partials/header.ejs'); %>

<% if(create) { %>
<%- include('../partials/steps.ejs') %>
<% } else { %>
<nav class="breadcrumbs">
  <ul>
    <li>
      <a href="/albums/<%= album.id %>?userId=<%= userId %>">Album: <%= album.name %></a>
    </li>
    <li>
      <a>Details</a>
    </li>
  </ul>
</nav>
<% } %>

<section class="album-details">
  <h1>Album details</h1>
  
  <% if(create) { %>
  <form action="/albums/new/details?id=<%= album.id %>&userId=<%= userId %>" method="post">
  <% } else { %>
  <form action="/albums/details?id=<%= album.id %>&userId=<%= userId %>" method="post">
  <% } %>
    <label for="name">Album name</label>
    <input type="text" name="name" id="name" value="<%= album.name %>" required>
    <% if(error && error === 'name') { %>
    <p class="error">Please enter a name for the album.</p>
    <% } %>
    <label for="description">Album description - optional</label>
    <textarea name="description" id="description" value="<%= album.description %>"></textarea>
    <button type="submit"><%= create ? 'Add photos to album' : 'Save details' %></button>
  </form>

</section>

<%- include('../partials/footer.ejs'); %>