<%- include('../partials/head.ejs'); %>
<%- include('../partials/header.ejs'); %>

<p>Your albums</p>

<% albums.forEach(album => { %>
<section>
  <a href="/albums/<%= album.id %>?userId=<%= userId %>">
    <h2>Album name: <%= album.name %></h2>
    <p>Album description: <%= album.description %></p>
  </a>
  <% album.photos.sort((a, b) => a.order - b.order).forEach(photo => { %>
  <img src="data:image/jpeg;base64,<%= photo.base64 %>"/>
  <% }); %>
</section>
<% }); %>

<form action="/albums/new?userId=<%= userId %>" method="post">
  <button type="submit">New album</button>
</form>

<%- include('../partials/footer.ejs'); %>