<%- include('../partials/head.ejs'); %>
<%- include('../partials/header.ejs'); %>

<% if(create) { %>
<%- include('../partials/steps.ejs') %>
<% } else { %>
<nav class="breadcrumbs">
  <ul>
    <li>
      <a href="/albums/<%= album.id %>?userId=<%= userId %>">Album: <%= album.name %></a>
    </li>
    <li>
      <a>Details</a>
    </li>
  </ul>
</nav>
<% } %>

<section class="order">
  <h1>Order photos</h1>
  
  <% album.photos.sort((a, b) => a.order - b.order).forEach((photo, i) => { %>
    <section class="image">
      <img src="data:image/jpeg;base64,<%= photo.base64 %>" alt="<%= photo.alt ? photo.alt : '' %>"/>
      <% if (photo.name) { %>
      <p class="name"><%= photo.name %></p>
      <% } %>
    <% if(i !== 0) { %>
      <% if(create) { %>
      <form action="/albums/new/<%= album.id %>/<%= photo.id %>/order/up?userId=<%= userId %>" method="post">
      <% } else { %>
      <form action="/albums/<%= album.id %>/<%= photo.id %>/order/up?userId=<%= userId %>" method="post">
      <% } %>
        <button type="submit">Move up</button>
      </form>
    <% } %>
    <% if(i !== album.photos.length - 1) { %>
      <% if(create) { %>
      <form action="/albums/new/<%= album.id %>/<%= photo.id %>/order/down?userId=<%= userId %>" method="post">
      <% } else { %>
      <form action="/albums/<%= album.id %>/<%= photo.id %>/order/down?userId=<%= userId %>" method="post">
      <% } %>
        <button type="submit">Move down</button>
      </form>
    <% } %>
    </section>
  <% }); %>
  <% if(create) { %>
  <a href="/albums?userId=<%= userId %>">
  <% } else { %>
  <a href="/albums/<%= album.id %>?userId=<%= userId %>">
  <% } %>
    <button><%= create ? 'Save album' : 'Save image order' %></button>
  </a>
</section>

<%- include('../partials/footer.ejs'); %>