<%- include('../../partials/head.ejs'); %>
<%- include('../../partials/header.ejs'); %>

<form action="/albums/new/details?id=<%= album.id %>&userId=<%= userId %>" method="post">
  <label for="name">Album name</label>
  <input type="text" name="name" id="name">
  <label for="description">Album description</label>
  <textarea name="description" id="description"></textarea>
  <button type="submit">Save</button>
</form>

<%- include('../../partials/footer.ejs'); %>