<%- include('../../partials/head.ejs'); %>
<%- include('../../partials/header.ejs'); %>

<section class="album-details">
  <h1>Album details</h1>
  
  <form action="/albums/new/details?id=<%= album.id %>&userId=<%= userId %>" method="post">
    <label for="name">Album name</label>
    <input type="text" name="name" id="name">
    <label for="description">Album description</label>
    <textarea name="description" id="description"></textarea>
    <button type="submit">Add photos to album</button>
  </form>
</section>

<%- include('../../partials/footer.ejs'); %>